# NMEA/AIS tools (from porla-nmea)
pyais==2.6.5

# Pattern parsing (for canboat2pontos and brefv)
parse==1.20.2

# Keelson/brefv support (from porla-keelson)
git+https://github.com/MO-RISE/keelson.git@0.1.0-pre.15#subdirectory=brefv/python
